.container {
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  min-width: 1400px;
}
header {
  width: 100%;
  height: 60px;
  position:relative;
  z-index:999;
  /* background-color: aquamarine; */
}
main {
  width: 100%;
  height: calc(100% - 100px);
  /* background-color: bisque; */
}
main .layout {
  height: 314px;
}
/* main部分样式 */
.main_flex {
  display: flex;
  flex-direction: column;
  /*从上向下布局 */
}

.logo_img {
  margin: 10px auto;
  /* 居中对齐 */
}

.baidu_search {
  display: flex;
  position: relative;
}

.baidu_input {
  padding: 0px 5px;
  outline: none;
  border: 2px solid #a7aab5;
  height: 45px;
  width: 580px;
  box-sizing: border-box;
  text-indent: 6px;
  font-size: 16px;
  border-radius: 10px 0 0 10px;
  border-right: none;
  border-bottom:2px solid  #a7aab5
}

.baidu_button {
  height: 45px;
  width: 100px;
  border: none;
  color: white;
  background-color: #4e6ef2;
  left: 550px;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  margin-left: auto;
}

.baiduSearch {
  font-size: medium;
}
.bdsug li {
    width: 560px;
    color: #000;
    font: 16px arial;
    line-height: 31px;
    padding: 2px 10px;
    position: relative;
    cursor: default;
}
.bdsug {
    width: 578px;
    top: 35px;
    border-radius: 0 0 10px 10px;
    border: 2px solid #4E6EF2!important;
    border-top: 0!important;
    box-shadow: none;
    font-family: Arial,"PingFang SC","Microsoft YaHei",sans-serif;
    z-index: 1;
}